body {
    font-family: 'Roboto', sans-serif;
    background: #ececec;
    margin: 0;
    color: #636E77;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    margin-top: 0;
}

h1 {
    font-weight: 300;
    margin-bottom: 2.5rem;
    color: #00bcd4;
}

h2, h3 {
    font-weight: 400;
}

h4 {
    font-weight: 400;
    color: #00bcd4;
}

.container {
    max-width: 50rem;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.component-library {

}

.component {
    margin-bottom: 4rem;
    padding: 1.5em 2em;
}

.component__title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    margin-top: 0;
    border-bottom: dotted 1px #eee;
    color: #aaa;
}


.paper-material {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.card {
    background: #fff;
}

.component__example {
    padding: 1rem;
}

.component__description,
.component__options {
    margin-bottom: 2rem;
}

.component__specs {
    margin-bottom: 2rem;
    font-size: 14px;
}

.font-small {
    font-size: 14px;
}


.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-right: solid 1px #eee;
    border-bottom: solid 1px #eee;
    border-bottom-right-radius: .25em;
    border-bottom-left-radius: .25em;
    border-top-right-radius: .25em;
}

.table > :first-child td:first-child { border-top-left-radius: .25em; }
.table > :first-child td:last-child  { border-top-right-radius: .25em; }

.table td {
    border: solid 1px #eee;
    border-bottom: 0;
    border-right: 0;
    padding: .5em;
}

.table__colheader {
    font-weight: 600;
}


.pill {
    display: inline-block;
    border-radius: .25em;
    color: #fff;
    background: #777;
    padding: .25em .5em;
    font-size: .875em;
}


.panels {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    align-items: stretch;
    flex-flow: flex-start;
}

.panel-left {
    width: 200px;
    padding: 1.5rem 1rem;
    border-right: solid 1px #ddd;
}


.depth-1 {
    background: #f2f2f2;
}



.panel-right {
    margin-left: 3rem;
    margin-top: 1.5rem;
    flex: 1;
}


.nav {
    position: fixed;
}

.nav__item {
    margin-bottom: .5rem;
    font-size: 14px;
}

.nav__item a {
    /*color: #07a;*/
    color: #0099AD;
    text-decoration: none;
}

.nav__item a:hover {
    /*color: #048;*/
    color: #0099AD;
}




.t-string {
    background: #07a;
}

.t-array {
    background: #690;
}

.t-object {
    background: #E6A013;
}

.t-related {
    background: rebeccapurple;
}



pre[class*=language],
.component__example,
.markdown code {
    background-color: #F3F4F5;
}

blockquote {
    margin: 0;
    padding-left: 1em;
    border-left: solid 3px grey;
}

blockquote p {
    margin-top: 0;
}

cite {
    display: inline-block;
}

.btn {
    display: inline-block;                          /* [1] */
    vertical-align: middle;                         /* [2] */
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: .25em;
    cursor: pointer;                                /* [5] */
    font-family: inherit;                           /* [4] */
    font-size: .9375rem;
    font-weight: 400;
    line-height: 2;                               /* [7] */
    margin: inherit 0 0 0;                          /* [6] */
    padding-bottom: 0;                              /* [6] */
    padding-left: 1.25em;                         /* [7] */
    padding-right: 1.25em;                        /* [7] */
    padding-top: 0;                                 /* [6] */
    white-space: nowrap;                            /* [3] */
    overflow: hidden;
    text-overflow: ellipsis;
}

.c-tag {
    display: inline-block;
    vertical-align: middle;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: .25em;
    cursor: pointer;
    font-family: inherit;
    font-size: .9375rem;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5;
    margin: inherit 0 0 0;
    padding-bottom: 0;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.t-dark .tag__item {
    background-color: grey;
    color: white;
}

.t-dark .tag__item:hover {
    background-color: #5D5C5C;
}



