<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/prism.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/themes/prism.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700,500,400italic,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/patterns.css">
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
