{% extends "patterns/base.html" %}
{% load component_tags %}

{% block title %}All patterns{% endblock %}

{% block body %}
<div class="panels">

    <div class="panel-left depth-1">
        <div class="nav">
            {% include "patterns/nav.html" %}
        </div>
    </div>
    <div class="panel-right">
        <div class="container">
            <h1>All components</h1>
        </div>

        <div class="container component-library" >
        {% for name, component in components.items %}
            {% include "patterns/component.html" with name=name  %}
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
