{% load component_tags %}
<div class="c-tile">
    {% if data.img %}
    <div class="c-tile__image">
        {% component "image" data=data.img %}
    </div>
    <h2 class="c-tile__title">{{ data.title }}</h2>
    {% if data.subtitle %}<h3 class="c-tile__subtitle">{{ data.subtitle }}</h3>{% endif %}
    {% endif %}
    <div class="c-tile__excerpt">
        {{ data.excerpt }}
        {% if data.url and data.linkText %}
        <p class="c-tile__link"><a href="{{ data.url }}">{{ data.linkText }}</a></p>
        {% endif %}
    </div>
</div>

